/* ----- This deserves to be a mixin ----- */

.button {
  @include transition(background-color);

  font-variation-settings: $text-ui, 'wght' 500;
  display: flex;
  align-items: center;
  gap: $spacing-150;
  border-radius: 8px;
  text-decoration: none;

  @include light-theme {
    color: $grey-700;
    background-color: $grey-200;

    &:hover,
    &:active {
      color: $grey-900;
      background-color: $grey-200;
    }
  }

  @include dark-theme {
    color: $black;
    background-color: $grey-400;

    &:hover,
    &:active {
      color: $grey-900;
      background-color: $grey-200;
    }
  }

  padding: $spacing-100 $spacing-200;
  margin: $spacing-200 0;

  .icon {
    font-size: ms(1);
  }

  &.-emerald {
    @include light-theme {
      background-color: $colour-emerald-600;
      color: $colour-emerald-100;
      font-variation-settings: "wght" 550;

      &:hover,
      &:active {
        background-color: $colour-emerald-800;
      }
    }

    @include dark-theme {
      background-color: $colour-emerald-400;
      color: $colour-emerald-1000;

      &:hover,
      &:active {
        background-color: $colour-emerald-200;
      }
    }
  }
}
