.contact {
  @extend .section;
  @extend .-column;
  @include light-theme {
    background-color: $colour-emerald-700;
  }
  &Mean {
    @extend .context;
    @extend .-subtitle;
    @include light-theme {
      color: $grey-100;
    }
    @include dark-theme {
      color: $grey-200;
    }
    @include medium-display {
      text-align: center;
    }
  }
  &Mail {
    @extend .display;
    @extend .-fat;
    @include light-theme {
      color: $colour-gold-100;
    }
    @include dark-theme {
      color: $colour-emerald-300;
    }
    @include medium-display {
      text-align: center;
      margin-bottom: $spacing-400;
    }
    @include small-display {
      font-size: ms(5);
    }
  }
  &Title {
    @extend .decorated;
    @extend .-gold;
    color: $grey-100;
    &::before {
      background-color: $colour-gold-200;
    }
  }

  &Links {
    @extend .division;
    @extend .-row;
    @extend .-justify-spaceBetween;
    @include medium-display {
      flex-direction: column;
      justify-content: center;
    }
  }

  &Networks {
    @extend  .-column;
    @include medium-display {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: $spacing-200;
    }
    &List {
      @extend .division;
      @include medium-display {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &Issue {
    @extend .division;
    @extend .-column;
    @extend .-align-flexEnd;
    @include medium-display {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: $spacing-200;
    }
    .paragraph {
      text-align: end;
    }
    @include small-display {
      text-align: center;
    }
  }

  .link.-ui,
  .paragraph {
    color: $grey-100;
  }
}