.contact {
  @extend .section;
  @extend .-column;
  @include light-theme {
    background-color: $colour-emerald-700;
  }
  &Mean {
    @extend .context;
    @extend .-subtitle;
    @include light-theme {
      color: $grey-100;
    }
    @include dark-theme {
      color: $grey-200;
    }
  }
  &Mail {
    @extend .display;
    @extend .-fat;
    @include light-theme {
      color: $colour-gold-100;
    }
    @include dark-theme {
      color: $colour-emerald-300;
    }
  }
  &Title {
    @extend .decoratedGold;
    color: $grey-100;
    &::before {
      background-color: $colour-gold-200;
    }
  }

  .link.-ui,
  .paragraph {
    color: $grey-100;
  }
}