.hero {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  align-items: flex-start;
  &.-pageCover {
    flex-grow: 1;
    justify-content: center;
    @include very-large-display {
      padding: $spacing-800;
    }
    @include large-display {
      padding: $spacing-600;
    }
    @include medium-display {
      padding: $spacing-400;
    }
    @include small-display {
      padding: $spacing-200;
    }
  }
  &.-pageBanner {
    height: 75vh;
    justify-content: flex-end;
    padding: $spacing-800;
    @include very-large-display {
      padding: $spacing-800;
    }
    @include large-display {
      height: 100%;
      padding: $spacing-600;
    }
    @include medium-display {
      padding: $spacing-400;
    }
    @include small-display {
      padding: $spacing-200;
    }
  }

  &__greeting,
  &__description {
    @extend h3;
    font-family: $font-text;
    &:not(.hero__description) {
      margin-bottom: $spacing-400;
    }
  }

  &__introduction {
    @extend .display;
    @extend .-fat;
    font-family: $font-display;
    max-width: 20ch;
    margin-bottom: $spacing-400;
    @include dark-theme {
      color: $grey-200;
    }
  }
}