.icon {
  // Thumb Up
  &.-positive {
    &::after {
      content: "\01F58F";
      display: inline-flex;
      font-size: inherit;
      color: inherit;
    }
  }

  // Index Up ?
  &.-information {
    &::after {
      content: "\01F590";
      display: inline-flex;
      font-size: inherit;
      color: inherit;
    }
  }

  // Index Up ?
  &.-warning {
    &::after {
      content: "\01F5E3";
      display: inline-flex;
      font-size: inherit;
      color: inherit;
    }
  }

  // Thumb Down
  &.-negative {
    &::after {
      content: "\01F593";
      display: inline-flex;
      font-size: inherit;
      color: inherit;
    }
  }

  // Pencil
  &.-write {
    &::after {
      content: "\01F589";
      display: inline-flex;
      font-size: inherit;
      color: inherit;
    }
  }

  // Index right (LTR)
  &.-forward {
    &::after {
      content: "\00261E";
      font-family: $font-text;
      font-size: ms(5);
      color: inherit;
      margin-left: $spacing-100;
    }
  }

  // Index left (LTR)
  &.-backwards {
    &::after {
      content: "\00261C";
      display: inline-flex;
      font-size: inherit;
      color: inherit;
    }
  }
}