.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: $spacing-200 $spacing-800;

  @include large-display {
    padding: $spacing-200 $spacing-600;
  }

  @include medium-display {
    padding: $spacing-200 $spacing-400;
  }

  @include small-display {
    padding: $spacing-200;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
  }

  &__links {
    display: inline-flex;
    align-items: baseline;
    gap: $spacing-100;
  }
}
