---
import escapeHTML from 'escape-html';

import MainLayout from '@layouts/main.astro'

import Contact from '@components/Contact';
import Footer from "@components/Footer";
import Tag from '@components/Tag';
import RichText from '@components/RichText.astro';
import SocialLinks from '@components/SocialLinks';
import Icon from '@components/Icon';

let page;

try {
    let response = await fetch(`${import.meta.env.API_URL}/api/globals/about`);
    page = await response.json();
} catch (error) {
    console.error(error);
}

const pageTitle = "À propos"
---
<MainLayout title={pageTitle}>
    <section class="hero -pageBanner">
        <h1 class="display -name">
            <span>Olivia </span> 
            <span>De Scheerder</span>
        </h1>
        <p class="display -nickname">@Palingenae</p>
    </section>
    <section class="section -offset -column">
        <article class="article">
            <p class="paragraph -lead"><strong>{ page.lead }</strong></p>
            <RichText richText={ page.article }/>
        </article>
        <div class="hero__now">
            <p class="paragraph -jumbo -sans"><strong>Actuellement concentrée sur :</strong></p>
            <div class="tagContainer">
                <Tag label='ReactJS' variant='filledCobaltLight'/>
                <Tag label='NextJS' variant='filled'/>
                <Tag label='TypeScript' variant='filledCobalt'/>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="imageCollection -about">
            { page.photos.map((pellicule: any)=> 
                <img class="image -vertical" src={ escapeHTML(`${import.meta.env.API_URL}${pellicule.photo.url}`) } alt={ pellicule.photo.alt }/>
            )}
        </div>
    </section>
    <!-- { page.availableForHire == true ?
        <section class="section -offset -column">
            <p class="curriculumAvailable">Disponible</p>
            <p class="paragraph -jumbo -sans">Je suis actuellement à l’écoute du marché en tant que Développeuse, qu’Intégratrice Web ou ma préférence, le Développement Front-End.</p>
            <a href="/about/curriculum" class="button -hasIcon">Vers le mini CV <Icon iconName='arrow-right'/></a> 
        </section>
        : ''} -->
        <section class="section -offset -column">
            <SocialLinks/>
        </section>
    <Contact />
    <Footer />
</MainLayout>
