.action {
  @include transition(color);

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--fs-step-4);
  font-family: $font-display;
  font-variation-settings: $display-action;
  color: inherit;
  gap: $spacing-100;

  &.-reverse {
    flex-direction: row-reverse;
  }

  @include large-display {
    font-size: var(--fs-step-3);
    max-width: 20%;

    .actionLabel {
      display: none;
    }
  }

  &__label {
    font-size: var(--fs-step-3);
    padding-top: $spacing-25;
  }

  &__icon {
    font-style: normal;
    font-size: var(--fs-step-4);
  }
}