article,
.article {
  &Title {
    margin-bottom: var(--spacing-400);
  }

  h2 {
    @extend h2;
    max-width: 30ch;
    font-size: var(--fs-step-4);
    line-height: var(--spacing-display-line-height);
    margin-bottom: var(--spacing-100);

    & + p {
      margin-top: var(--spacing-200);
    }
  }

  h3 {
    max-width: 50ch;
    font-family: var(--font-text);
    font-size: var(--fs-step-3);
    line-height: 1.35;

    & + p {
      margin-top: var(--spacing-150);
    }
  }

  blockquote {
    width: fit-content;
    background-color: var(--neutral-50); // theme
    padding: var(--spacing-200) var(--spacing-400);
    border-left: solid 8px var(--color-citrine-600); // theme
    border-radius: 0.5rem;
    margin: var(--spacing-400) 0;
    
    & > .iconoir-quote {
      font-size: var(--fs-step-4);
      color: var(--color-citrine-600);
      margin-bottom: var(--spacing-100);
    }
    
    & > p {
      @extend .paragraph;
      @extend .italic;
      
      max-width: 48ch;
      font-size: var(--fs-step-3);
      font-weight: var(--weight-base-static); // theme
      font-variation-settings: var(--weight-base-var); // theme
    }
    
    & > footer {
      font-variation-settings: "wght" 600;
      font-size: var(--fs-step-2);
      text-align: end;
    }
  }

  
  p {
    @extend .paragraph;
    margin-bottom: var(--spacing-200);

    a {
      @include light-theme {
        color: var(--color-cobalt-800);
      }

      @include dark-theme {
        color: var(--color-cobalt-400);
      }
    }
  }

  code {
    font-family: $font-text;
    color: inherit;
    padding: var(--spacing-25) var(--spacing-50);
    border-radius: 6px;
    background-color: var(--neutral-100);
  }

  i,
  em,
  .italic {
    color: inherit;
    font-family: inherit;
    // font-style: italic; // Uncut Sans is missing that
    font-style: oblique;
  }

  b,
  strong,
  .bold {
    color: inherit;
    font-family: inherit;
    font-variation-settings: 'wght' 600;
  }

  b,
  strong,
  i,
  em,
  span {
    font-family: inherit;
    line-height: inherit;
  }
}