article,
.article {
  h2 {
    max-width: 30ch;
    font-size: var(--fs-step-5);
    line-height: $spacing-display-line-height;
    margin-top: $spacing-400;
    margin-bottom: $spacing-200;

    & + p {
      margin-top: 3rem;
    }
  }

  h3 {
    max-width: 50ch;
    font-family: $font-text;
    font-size: var(--fs-step-3);
    line-height: 1.35;
  }

  blockquote {
    @extend .paragraph;
    @extend .-jumbo;

    font-style: italic;
    padding: $spacing-100 $spacing-200;
    border-left: solid 4px $color-citrine-600;
    margin-top: $spacing-200;
    margin-bottom: $spacing-200;
  }

  
  p {
    @extend .paragraph;

    a {
      @include light-theme {
        color: $color-cobalt-800;
      }

      @include dark-theme {
        color: $color-cobalt-400;
      }
    }
  }

  code {
    font-family: $font-text;
    color: inherit;
    padding: $spacing-25 $spacing-50;
    border-radius: 6px;

    @include light-theme {
      background-color: $gray-100;
    }
    
    @include dark-theme {
      background-color: $gray-900;
    }

  }
}