.card {  
  display: flex;
  flex-direction: column;

  &.-column {
    @include transition(all);
    @include diamond('outline', $gray-800, $gray-200);

    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: $spacing-400;
    border-radius: 8px;
    padding: $spacing-200 $spacing-400;
    width: 100%;
    color: inherit;
    margin-bottom: $spacing-200;

    .card__content {
      gap: $spacing-50;
    }

    @include medium-display {
      gap: $spacing-400;
      padding: $spacing-200;
    }

    @include small-display {
      @include diamond('none');
      
      padding: $spacing-100;

      .card__content {
        gap: $spacing-50;
      }

      .action {
        display: none;
      }
    }
    
    .action {
      color: transparent;
      font-style: italic;
    }

    .card__meta__tagsContainer {
      padding: 0;
    }

    &:hover {
      @include diamond('outline', $color-citrine-400, $color-citrine-200);
      @include diamond('filled', $color-citrine-400, $color-citrine-200);

      background-color: $gray-800;
      color: $gray-100;

      @include dark-theme {
        @include diamond('filled', $color-citrine-200, $color-citrine-200);

        background-color: $gray-800;
        color: $white;
      }

      .tag.-outline {
        border-color: $gray-100;
        color: $gray-100;
      }

      .card__container::before {
        color: $color-citrine-100;
      }

      .action {
        color: inherit;
      }

      @include small-display {
        @include diamond('none');
      }
    }

    &:focus {
      @include diamond('filled', $gray-100, $gray-600);
      @include diamond('outline', transparent, transparent);

      background-color: $color-emerald-600;
      color: $gray-100;

      .tag {
        color: $gray-100;
        border-color: $gray-100;
      }

      @include dark-theme {
        background-color: $gray-100;
        color: $gray-800;

        .tag {
          border-color: $gray-600;
          color: $gray-600;
        }

        .card__container::before {
          color: $color-emerald-500;
        }
      }
    }
  }
  
  &.-grid {
    gap: $spacing-200;
    border: 1px solid $gray-300;
    border-radius: 16px;
    padding: $spacing-200;

    @include dark-theme {
      border: 1px solid $gray-800;
    }
  }

  &__container {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    align-items: center;
    gap: $spacing-400;

    &.-counter {
      &::before {
        @include transition(color);

        content: "0" counter(collection-counter);
        counter-increment: collection-counter -1;
        font-size: var(--fs-step-8);
        font-variation-settings: 'wght' 300;
        color: $gray-100;
        line-height: 1;

        @include dark-theme {
          color: $gray-800;
        }

        @include medium-display {
          display: none;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-100;
  }

  &__title {
    @extend h3;

    font-size: var(--fs-step-4);
    margin-bottom: 0;

    @include light-theme {
      font-variation-settings: 'wght' 700;
    }

    @include dark-theme {
      font-variation-settings: 'wght' 700;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: $spacing-200;

    @include small-display {
      gap: $spacing-100;
      flex-direction: column;
      align-items: flex-start;
    }

    &__tagsContainer {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-50;
      padding: $spacing-200 0;
    }

    &__repo {
      display: flex;
      gap: $spacing-50;
      align-items: center;
      padding: $spacing-100 0;

      @include small-display {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      &Name {
        @include transition(color);
        @include transition(background-color);

        font-variation-settings: $text-light-theme-regular;
        border-radius: 4px;
        padding: $spacing-25;
        color: $gray-900;
        background-color: $gray-100;

        @include dark-theme {
          color: $gray-100;
          background-color: $gray-900;
        }
      }

      &Type {
        display: inline-flex;
        text-transform: uppercase;
        margin-bottom: $spacing-50;

        @include light-theme {
          font-variation-settings: 'wght' 500;

          &.-side {
            color: $color-citrine-600;
          }

          &.-group {
            color: $color-cobalt-400;
          }

          &.-openClassrooms {
            color: $color-amethyst-400;
          }
        }

        @include dark-theme {
          font-variation-settings:  'wght' 400;

          &.-side {
            color: $color-citrine-500;
          }

          &.-group {
            color: $color-cobalt-700;
          }

          &.-openClassrooms {
            color: $color-amethyst-700;
          }
        }
      }

      &Status {
        @include transition(color);
        @include transition(background-color);

        font-variation-settings: 'wght' 500;
        border-radius: 4px;
        padding: $spacing-25;

        @include light-theme {
          color: $gray-900;
          background-color: $gray-100;

          &.-active {
            color: $color-emerald-700;
            background-color: $color-emerald-100;
          }

          &.-done {
            color: $color-cobalt-950;
            background-color: $color-cobalt-200;
          }

          &.-onHold {
            color: $color-ruby-950;
            background-color: $color-ruby-100;
          }

          &.-abandoned {
            color: $gray-500;
            background-color: transparent;
          }
        }
        
        @include dark-theme {
          color: $gray-100;
          background-color: $gray-900;

          &.-active {
            color: $color-emerald-200;
            background-color: $color-emerald-950;
          }

          &.-done {
            color: $color-cobalt-100;
            background-color: $color-cobalt-950;
          }

          &.-onHold {
            color: $color-ruby-100;
            background-color: $color-ruby-950;
          }

          &.-abandoned {
            color: $gray-400;
            background-color: $gray-1000;
          }
        }
      }
    }

    &__public {
      &Status {
        &.-soon {
          color: $gray-500;
        }
      }
    }
    
  }

  &__meta {
    display: flex;
    align-items: center;

    // gap: $spacing-400;

    @include small-display {
      gap: $spacing-100;

      // flex-direction: column;
      align-items: flex-start;
    }


    &__tagsContainer {
      display: flex;
      gap: $spacing-100;
    }
  }

  &__date {
    font-size: var(--fs-step-1);
    font-variation-settings: $text-light-theme-regular;
  }

  &__footer {
    display: flex;
    gap: $spacing-200;
    align-items: center;
    padding-top: $spacing-100;

    a {
      gap: $spacing-100;
      display: inline-flex;
      align-items: center;
    }
  }
}
