.curriculumEvent {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  gap: $spacing-25;
  margin-bottom: $spacing-400;

  &__meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: calc($spacing-1600 + $spacing-200);
    margin-bottom: 0;

    @include medium-display {
      gap: calc($spacing-800 + $spacing-200);
    }

    @include small-display {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: $spacing-50;
    }
  }

  &__dates {
    display: inline-flex;
    font-size: var(--fs-step-1);

    @include light-theme {
      font-variation-settings: 'wght' 360;
      color: $gray-600;
    }

    @include dark-theme {
      font-variation-settings: 'wght' 380;
      color: $gray-300;
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
  }

  &__name {
    @extend h2;

    font-size: var(--fs-step-4);

    @include light-theme {
      font-variation-settings: 'wght' 450;
    }

    @include dark-theme {
      font-variation-settings: 'wght' 480;
    }

    line-height: 1.4;
    margin-bottom: 0;
  }

  &__place {
    @extend .paragraph;

    @include light-theme {
      color: $gray-600;
    }

    @include dark-theme {
      color: $gray-300;
    }

    margin-bottom: 0;
  }

  &__description {
    @extend .paragraph;

    color: $gray-600;
    font-size: var(--fs-step-0);

    @include dark-theme {
      color: $gray-200;
    }
  }

  &Container {
    margin-bottom: $spacing-400;
  }
}
