.header {
    display: flex;
    flex-direction: column;
    padding: $spacing-1600;

    @include very-very-large-display {
        padding: $spacing-800 $spacing-1600;
        padding-top: $spacing-1600;
      }
    
      @include very-large-display {
        padding: $spacing-800;
        padding-top: calc($spacing-800 + $spacing-400);
      }
    
      @include large-display {
        padding: $spacing-600;
        padding-top: calc($spacing-800 + $spacing-400);
      }
    
      @include medium-display {
        padding: $spacing-400;
        padding-top: calc($spacing-800 + $spacing-200);
      }
    
      @include small-display {
        padding: $spacing-400 $spacing-200;
        padding-top: $spacing-800;
      }
}