.header {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-400);

    @include very-very-large-display {
        padding-top: $spacing-1600;
      }
    
      @include very-large-display {
        padding-top: calc($spacing-800 + $spacing-400);
      }
    
      @include large-display {
        padding-top: calc($spacing-800 + $spacing-400);
      }
    
      @include medium-display {
        padding: $spacing-200;
        padding-top: calc($spacing-800 + $spacing-200);
      }
    
      @include small-display {
        padding: $spacing-200;
        padding-top: $spacing-800;
      }
}