.hero {
  display: flex;
  // flex-flow: column nowrap;
  // align-content: flex-start;
  // align-items: flex-start;
  
  &.-pageCover {
    // @include top-spacer;

    display: grid;
    // flex-flow: column wrap;
    // flex-grow: 1;
    // justify-content: space-between;
    padding: $spacing-400;
    height: calc(100vh - 306px);
    
    // @include very-very-large-display {
    //   padding: $spacing-400 $spacing-1600;
    // }
    
    // @include very-large-display {
    //   padding: $spacing-400 $spacing-800;
    // }
    
    // @include large-display {
    //   padding: $spacing-600;
    // }

    // @include medium-display {
    //   padding: $spacing-400;
    // }
    
    // @include small-display {
    //   padding: $spacing-200;
    // }
  }
  
  &.-pageBanner {
    @include top-spacer;

    flex-direction: column;
    height: 80lvh;
    justify-content: flex-end;
    gap: $spacing-400;
    
    @include very-very-large-display {
      padding: $spacing-800 $spacing-1600;
      padding-top: calc($spacing-800 + 3rem);
    }
    
    @include very-large-display {
      padding: $spacing-800;
      padding-top: calc($spacing-800 + 3rem);
    }
    
    @include large-display {
      padding: $spacing-600;
      padding-top: calc($spacing-800 + 3rem);
    }
    
    @include medium-display {
      padding: $spacing-400;
      padding-top: calc($spacing-600 + 3rem);
    }

    @include small-display {
      height: fit-content;
      padding: $spacing-400 $spacing-200;
      padding-top: calc($spacing-400 + 3rem);
    }

    .display {
      margin-bottom: 0;
    }

    hr {
      width: 100%;
    }

  }
  
  &__separator {
    display: flex;

    @include very-very-large-display {
      width: 880px;
    }
    
    @include very-large-display {
      width: 672px;
    }
    
    @include large-display {
      width: 560px;
    }
    
    @include medium-display {
      width: 432px;
    }
    
    @include small-display {
      width: 352px;
    }
  }

  // &__now {
  //   display: flex;
  //   flex-direction: column;
  //   gap: $spacing-100;
  // }

  &__introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__name {
    margin-bottom: 0;
  }

  &__role {
    font-family: var(--font-text);
    font-size: var(--fs-step-4);
    // font-variation-settings: var(--weight-base);
    font-variation-settings: 'wght' 300;
    color: var(--gray-300);
    margin-bottom: 0;
  }

  &__description {
      font-family: $font-text;
      font-variation-settings: 'wght' 300;
      font-size: var(--fs-step-5);

    @include light-theme {
      color: $gray-800;
    }
    
    @include dark-theme {
      color: $gray-200;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    gap: $spacing-200;
    &__section {
      text-align: end;
      &Title {
        @extend .paragraph;
        font-variation-settings: "wght" 600;
        text-transform: uppercase;
        font-size: var(--fs-step-2);
        margin-bottom: var(--spacing-50);
      }
      &Content {
        @extend .paragraph;
        font-size: var(--fs-step-1);
      }
    }
  }
}
