a,
%link {
  @include transition(all);
  @include transition(font-variation-settings);

  width: fit-content;
  line-height: $spacing-body-line-height;
  text-decoration: none;
  
  @include light-theme {
    color: $colour-cobalt-700;
    
    &:hover {
      color: $colour-emerald-700;
      text-decoration: underline;
    }
    
    &:visited {
      color: $colour-amethyst-700;
    }
  }
  
  @include dark-theme {
    font-variation-settings: $text-code-block, $text-dark-theme-regular;
    color: $colour-cobalt-200;  
    
    &:hover {
      color: $colour-emerald-200;
      text-decoration: underline;
    }

    &:visited {
      color: $colour-amethyst-200;
    }
  }

  &.-ui {
    @extend %link;
    @include transition(all);

    text-decoration: none;
    font-size: ms(1);
    padding-bottom: $spacing-25;
    border-bottom: solid 3px transparent;

    // margin: 0 $spacing-100;

    @include medium-display {
      margin: $spacing-50 0;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @include light-theme {
      font-variation-settings: $text-ui, "wght" 500;
      color: $grey-900;
      
      &:hover {
        border-bottom: solid 3px $grey-900;
      }

    }
  
    @include dark-theme {
      font-variation-settings: $text-ui, "wght" 520;
      color: $grey-100;
  
      &:hover,
      &:focus {
        color: $colour-cobalt-300;
        border-bottom: solid 3px $colour-cobalt-300;
      }
    }

    &.-active {
      font-variation-settings: $text-ui, "wght" 700;
      border-bottom: solid 3px $grey-400;
    }

  &.-navigation {
    @include transition(border-bottom);

    color: inherit;
    width: fit-content;
    font-size: ms(1);
    line-height: $spacing-body-line-height;
    text-decoration: none;
    padding-bottom: $spacing-50;
    border-bottom: solid 3px transparent;
  }

  &.-vertical{
    font-size: ms(4);
    font-variation-settings: $text-ui, $text-light-theme-regular;

    &:hover,
    &:focus {
      @keyframes widen-on-interaction {
        from {
          font-variation-settings: $text-ui, $text-light-theme-regular;
        }

        to {
          font-variation-settings: $text-ui, 'wght' 600;
        }
      }

      animation: widen-on-interaction 100ms ease-in;
      font-variation-settings: $text-ui, 'wght' 600;
      color: $colour-cobalt-700;

      @include dark-theme {
        color: $colour-cobalt-300;
      }

      &::before {
        @keyframes point-to-route {
          from {
            font-variation-settings: $text-ui, $text-light-theme-regular;
            opacity: 0;
            margin-right: $spacing-400
          }

          to {
            font-variation-settings: $text-ui, 'wght' 600;
            opacity: 1;
            margin-right: $spacing-300;
          }
        }

        content: "\00261E";
        font-family: $font-text;
        font-size: inherit;
        color: inherit;
        opacity: 1;
        margin-right: $spacing-300;
        animation: point-to-route 200ms ease-in;
      }
    }

    @include large-display {
      font-size: ms(4);
    }

    @include small-display {
      font-size: ms(3);
    }

    &.-active {
      font-variation-settings: $text-ui, 'wght' 700;
      color: $colour-emerald-600;

      @include dark-theme {
        color: $colour-emerald-300;
      }

      &::before {
        content: "\01F441";
        font-family: $font-text;
        font-size: inherit;
        color: inherit;
        opacity: 1;
        margin-right: $spacing-300;
        animation: point-to-route 200ms ease-in;
      }
    }
  }
}
}