.message {
  @include transition(background-color);
  @include transition(color);
  @include transition(border-left);

  display: flex;
  flex-direction: row;
  color: $grey-900;
  width: fit-content;
  background-color: $grey-100;
  border-left: solid 8px $grey-900;
  border-radius: 16px;
  padding: $spacing-200;
  gap: $spacing-150;

  @include small-display {
    flex-direction: column;
    padding: $spacing-100;
  }

  &:not(:last-of-type) {
    margin-bottom: $spacing-200;
  }

  @include dark-theme {
    color: $grey-100;
    background-color: $grey-900;
    border-left: solid 8px $grey-100;
  }

  &__content {
    display: flex;
    gap: $spacing-100;
    flex-direction: column;
  }

  &__title {
    font-variation-settings: 'wght' 700;
    font-size: ms(0);
    text-transform: uppercase;
    margin-bottom: $spacing-50;
  }

  &__text {
    @extend .paragraph;

    margin-bottom: 0;
  }

  &__icon {
    display: flex;

    @include small-display {
      justify-content: flex-end;
    }

    .icon {
      font-size: ms(4);
    }
  }

  &.-info {
    @include dark-theme {
      color: $colour-cobalt-100;
      background-color: $colour-cobalt-1000;
      border-left: solid 8px $colour-cobalt-100;
    }

    @include light-theme {
      color: $colour-cobalt-900;
      background-color: $colour-cobalt-100;
      border-left: solid 8px $colour-cobalt-900;
    }
  }

  &.-notice {
    @include dark-theme {
      color: $colour-copper-100;
      background-color: $colour-copper-900;
      border-left: solid 8px $colour-copper-100;
    }

    @include light-theme {
      color: $colour-copper-900;
      background-color: $colour-copper-100;
      border-left: solid 8px $colour-copper-900;
    }
  }

  &.-positive {
    @include dark-theme {
      color: $colour-emerald-100;
      background-color: $colour-emerald-900;
      border-left: solid 8px $colour-emerald-100;
    }

    @include light-theme {
      color: $colour-emerald-900;
      background-color: $colour-emerald-100;
      border-left: solid 8px $colour-emerald-900;
    }
  }
}
