.section {
  @include transition(background-color);
  @include transition(color);

  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: $spacing-200;

  @include very-very-large-display {
    padding: $spacing-800 $spacing-1600;
  }

  @include very-large-display {
    padding: $spacing-800;
  }

  @include large-display {
    padding: $spacing-600;
  }

  @include medium-display {
    flex-direction: column;
    padding: $spacing-400;
  }

  @include small-display {
    padding: $spacing-400 $spacing-200;
  }

  &.-offset {
    @include very-very-large-display {
      padding: {
        top: $spacing-800;
        left: calc($spacing-800*6);
        right: $spacing-1600;
        bottom: $spacing-800;
      }
    }
  
    @include very-large-display {
      padding: {
        top: $spacing-800;
        left: calc($spacing-800*4);
        right: $spacing-1600;
        bottom: $spacing-800;
      }
    }
  
    @include large-display {
      padding: {
        top: $spacing-600;
        left: calc($spacing-800*2);
        right: $spacing-800;
        bottom: $spacing-600;
      }
    }
  
    @include medium-display {
      padding: $spacing-400;
    }
  
    @include small-display {
      padding: {
        top: $spacing-400;
        left: $spacing-200;
        right: $spacing-200;
        bottom: $spacing-400;
      }
    }
  }

  & > .main {
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    width: 66%;

    @include medium-display {
      width: 100%;
    }
  }

  & > .aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 33%;

    @include medium-display {
      width: 100%;
    }
  }
}

.division {
  display: flex;
}

.-grow {
  flex-grow: 1;
}

.-row {
  flex-direction: row;

  @include large-display {
    flex-direction: column;
  }
}

.-column {
  flex-direction: column;
}

.-noWrap {
  flex-wrap: nowrap;
}

.-wrap {
  flex-wrap: wrap;
}

.-justify-spaceBetween {
  justify-content: space-between;
}

.-justify-center {
  justify-content: center;
}

.-align-flexEnd {
  align-items: flex-end;
}
