.decorated {
  display: flex;
  gap: $spacing-200;
  align-items: center;

  &.-gold {
    @include diamond('filled', $color-citrine-600, $color-citrine-200);
  }

  &.-emerald {
    @include diamond('filled', $color-emerald-600, $color-emerald-200);
  }

  &.-ruby {
    @include diamond('filled', $color-ruby-700, $color-ruby-300);
  }

  &::after {
    content: "";
    display: inline-flex;
    flex-grow: 1;
    height: 2px;
    background-color: $gray-500;
  }
}
