$color-ruby-950: #470a1a;
$color-ruby-900: #7f1c39;
$color-ruby-800: #971d3d;
$color-ruby-700: #b11f41;
$color-ruby-600: #d22c4e;
$color-ruby-500: #e64d65;
$color-ruby-400: #f17b8a;
$color-ruby-300: #f6abb3;
$color-ruby-200: #fad1d5;
$color-ruby-100: #fde6e8;
$color-ruby-50: #fef2f3;
$color-amber-950: #3b1e0f;
$color-amber-900: #6e3c20;
$color-amber-800: #884824;
$color-amber-700: #aa5924;
$color-amber-600: #cd7229;
$color-amber-500: #dd9140;
$color-amber-400: #e2a455;
$color-amber-300: #ebc586;
$color-amber-200: #f3ddb5;
$color-amber-100: #f9efdb;
$color-amber-50: #fdf8ef;
$color-citrine-950: #3a200e;
$color-citrine-900: #643e1f;
$color-citrine-800: #754a1e;
$color-citrine-700: #8c5b1c;
$color-citrine-600: #af7d1f;
$color-citrine-500: #cb9f27;
$color-citrine-400: #debc46; // Reference
$color-citrine-300: #e4cc60;
$color-citrine-200: #eee29a;
$color-citrine-100: #f6f1cb;
$color-citrine-50: #fbfaeb;
$color-emerald-950: #0c221a;
$color-emerald-900: #173d2d;
$color-emerald-800: #1b4a36;
$color-emerald-700: #206044; // Reference
$color-emerald-600: #277450;
$color-emerald-500: #379266;
$color-emerald-400: #59ae82;
$color-emerald-300: #8acba7;
$color-emerald-200: #b9e1c9;
$color-emerald-100: #dbf0e2;
$color-emerald-50: #f0f9f4;
$color-cobalt-950: #1e234d;
$color-cobalt-900: #2a367e;
$color-cobalt-800: #2e3b9e;
$color-cobalt-700: #3247c3;
$color-cobalt-600: #3b59d5;
$color-cobalt-500: #5076e1;
$color-cobalt-400: #7199e9;
$color-cobalt-300: #9fbcf1;
$color-cobalt-200: #c6d6f7;
$color-cobalt-100: #dfe8fa;
$color-cobalt-50: #f1f5fd;
$color-amethyst-950: #371853;
$color-amethyst-900: #543073;
$color-amethyst-800: #663a90; // Reference
$color-amethyst-700: #7841af;
$color-amethyst-600: #8d54c9;
$color-amethyst-500: #a373d9;
$color-amethyst-400: #bd9ae6;
$color-amethyst-300: #d6c2f0;
$color-amethyst-200: #e8ddf7;
$color-amethyst-100: #f2ecfb;
$color-amethyst-50: #faf7fd;
$black: #0D0D0D;
$grey-1000: #1E1F20;
$grey-900: #3B3C3E;
$grey-800: #434547;
$grey-700: #4C5052;
$grey-600: #5A5E60;
$grey-500: #696E71;
$grey-400: #84898C;
$grey-300: #ADB1B3;
$grey-200: #CFD1D2;
$grey-100: #E6E7E7;
$gray-1000: #1E1F20;
$gray-900: #3B3C3E;
$gray-800: #434547;
$gray-700: #4C5052;
$gray-600: #5A5E60;
$gray-500: #696E71;
$gray-400: #84898C;
$gray-300: #ADB1B3;
$gray-200: #CFD1D2;
$gray-100: #E6E7E7;
$white: #F5F6F6;
$font-display: "Fraunces", serif;
$display-action: 'SOFT' 100, 'opsz' 32, 'WONK' 0, 'wght' 200;
$font-text: "Recursive", monospace;
$text-ui: "MONO" 0.6, "CASL" 0, "CRSV" 0; /* UI links */
$text-content: "MONO" 0, "CASL" 0.5 ,"CRSV" 1; /* Large text */
$text-paragraph: "MONO" 0, "CASL" 0, "CRSV" 0; /* Paragraphs and tags */
$text-code-block: "MONO" 1, "CASL" 0, "CRSV" 0;
$text-code-comment: "MONO" 1, "CASL" 1, "CRSV" 1;
$text-dark-theme-regular: "wght" 360;
$text-light-theme-regular: "wght" 380;
$modularscale: (
  base: 16px,
  ratio: 1.25
);
$text-width: 72ch;
$block-width: 96rem !default;

/* ----- Spacing ----- */
$spacing-kerning: normal;
$spacing-letter-spacing-display: -0.15rem;
$spacing-letter-spacing-title: 0.1rem;
$spacing-letter-spacing-text: 0.05rem;
$spacing-display-line-height: 1.16;
$spacing-large-text-line-height: 1.9;
$spacing-body-line-height: 1.7;
$spacing-25: 0.25rem;
$spacing-50: 0.5rem;
$spacing-100: 1rem;
$spacing-150: 1.5rem;
$spacing-200: 2rem;
$spacing-300: 3rem;
$spacing-400: 4rem;
$spacing-600: 6rem;
$spacing-800: 8rem;
$spacing-1600: 16rem;

/* ----- Screen sizes ----- */
$screen-size-xxl: 160rem;
$screen-size-xl: 120rem;
$screen-size-lg: 90rem;
$screen-size-md: 64rem;
$screen-size-sm: 48rem;
