.collection {
  display: flex;
  flex-direction: column;
  counter-reset: collection-counter 5;

  &.-column {}
  &.-row {}
  &.-grid {}

  &__element {}

  &__card {
    @include transition(all);
    @include diamond('outline', $grey-800, $grey-200);

    display: flex;
    align-items: center;
    text-decoration: none;
    gap: $spacing-400;
    border-radius: 8px;
    padding: $spacing-200 $spacing-400;
    color: inherit;
    margin-bottom: $spacing-200;

    @include medium-display {
      gap: $spacing-400;
      padding: $spacing-200;
    }

    .action {
      color: transparent;
      font-style: italic;
    }

    @include small-display {
      @include diamond('none');

      row-gap: 0;
      padding: $spacing-100;
    }

    &:hover {
      @include diamond('outline', $colour-gold-200, $colour-gold-200);
      @include diamond('filled', $colour-gold-200, $colour-gold-200);

      background-color: $grey-800;
      color: $grey-100;

      @include dark-theme {
        @include diamond('filled', $colour-gold-200, $colour-gold-200);

        background-color: $grey-700;
        color: $white;
      }

      .tag.-outline {
        border-color: $grey-100;
        color: $grey-100;
      }

      .card__container::before {
        color: $colour-gold-100;
      }

      .action {
        color: inherit;
      }

      @include small-display {
        @include diamond('none');
      }
    }

    &:focus {
      @include diamond('filled', $grey-100, $grey-600);
      @include diamond('outline', transparent, transparent);

      background-color: $colour-emerald-600;
      color: $grey-100;

      .tag {
        color: $grey-100;
        border-color: $grey-100;
      }

      @include dark-theme {
        background-color: $grey-100;
        color: $grey-800;

        .tag {
          border-color: $grey-600;
          color: $grey-600;
        }

        .card__container::before {
          color: $colour-emerald-500;
        }
      }
    }

  }
}