---
const { label } = Astro.props;
const { icon } = Astro.props;
---
<span class="projectAction actionLabel">
    <span class="actionLabel">{ label }</span>
    <span aria-hidden="true" class=`actionIcon icon -${icon}`></span>
</span>