---

---
<section class="contact">
    <h4 class="contactTitle">Envie de me contacter ?</h4>
    <p class="contactMean">Via Mail :</p>
    <p class="contactMail">hey (at) palingenae.be</p>
    <div class="contactLinks">
        <div class="contactNetworks">
            <p class="contactMean">Via les réseaux :</p>
            <div class="contactNetworksList">
                <a class="link -ui" href="#">Github</a>
                <a class="link -ui" rel="me" href="https://octodon.social/@Palingenae">Mastodon</a>
                <a class="link -ui" href="#">Bento</a>
            </div>
        </div>
        <div class="contactIssue">
            <p class="contactMean">Signaler un problème :</p>
            <p class="paragraph">Pour l'instant, vous pouvez le faire à travers un email.</p>
        </div>
    </div>
</section>