---

---
<section class="contact">
    <h4 class="decorated">Envie de me contacter ?</h4>
    <p class="contactMean">Via Mail :</p>
    <p class="contactMail">hey (at) palingenae.be</p>
    <div class="division -row -justify-spaceBetween">
        <div class="division -column">
            <p class="contactMean">Via les réseaux :</p>
            <div class="division">
                <a class="link -ui" href="#">Github</a>
                <a class="link -ui" href="#">Mastodon</a>
                <a class="link -ui" href="#">Bento</a>
            </div>
        </div>
        <div class="division -column -align-flexEnd">
            <p class="contactMean">Signaler un problème :</p>
            <p>Créez une issue via Github ou envoyez-moi un mail</p>
        </div>
    </div>
</section>