---

---
<footer class="footer">
    <div class="division">
        <span>&copy; Palingenae { new Date().getFullYear() } &hyphen; Tous droits réservés</span>
    </div>
    <div class="division">
        <span>Site web en reconstruction !</span>
    </div>
</footer>