---
const { content } = Astro.props;
const { type } = Astro.props;
const { context } = Astro.props;
---
<div class=`message ${ context }`>
    <p class="messageType">{ type }</p>
    <p class="messageContent">{ content }</p>
</div>