---
import Logo from '@components/logo.astro';

const currentPath = Astro.url.pathname;

const navigationLinks = [
    {
        label: "Projets",
        route: "/projects"
    },
    {
        label: "À propos",
        route: "/about"
    },
]
---
<nav class="navigation">
    <div class="navigation__logo">
        <a href="/">
            <Logo />
        </a>
    </div>
    <div class="navigation__links">
        {
            navigationLinks.map((link) =>  (
                <a class={currentPath === link.route ? "link -ui -active" : "link -ui"} href={ link.route }>{ link.label }</a>
            ))
        }
    </div>
</nav>