---
import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime';
import MainLayout from '@layouts/main.astro';
import RichText from "@components/RichText.astro";
import Tag from "@components/Tag";
import Contact from "@components/Contact";
import Footer from "@components/Footer"
import Action from '@components/action.astro';
import type { Article } from '@types/Article';

dayjs.extend(relativeTime);
dayjs.locale('fr');

const { title, category, tags, published, content, image } = Astro.props;

export async function getStaticPaths(): Promise<Article | undefined> {
    try {
        let response = await fetch(`${import.meta.env.API_URL}/api/articles`);
        let article = await response.json();

        if (undefined !== article) {
            return article.docs.map((article: Article) => {
                return {
                    params: {
                        slug: article.slug
                    },
                    props: {
                        title: article.title,
                        category: article.categories,
                        tags: article.tags,
                        content: article.article,
                        published: article.createdAt,
                    }
                }
            })
        } else {
            Astro.redirect('/404');
        }
    } catch (error) {
        console.error(error);
    }
}
---
<MainLayout title={ title }>
    <header class="story__header -vertical">
        <div class="story__header__title">
            <h1> { title } </h1>
        </div>
        <div class="story__header__metaContainer -horizontal">
            <div class="story__header__meta__info">
                <div class="story__header__meta">
                    <span class="story__header__metaLabel">Publié</span>
                    <span class="story__header__metaProperties">{ dayjs(published).format("D MMMM YYYY")}</span>
                </div>
                <div class="story__header__meta">
                    <span class="story__header__metaLabel">Catégorie</span>
                    <span class="story__header__metaProperties">{ category }</span>
                </div>
            </div>
            <div class="story__header__meta__tags">
                {
                    tags.map((tag: any): void => (<Tag label={ tag } variant="outline"/>
                    ))
                }
            </div>
        </div>
        <Action variant='reverse' icon='down' label='Scroll' />
    </header>
    <section class="section">
        <main class="main">
            <article class="article">
                <RichText richText={ content }/>
            </article>
        </main>
    </section>
    <Contact />
    <Footer />
</MainLayout>../../types/Article