---
import Footer from "@components/Footer";
import SocialLinks from "@components/SocialLinks";
import MainLayout from "@layouts/main.astro";

const pageTitle = "Salut ! ";
---
<MainLayout title={ pageTitle }>
    <section class="hero -pageCover">
        <div class="hero__introduction">
            <div>
                <h1 class="hero__name">
                    <span>Olivia </span>
                    <span>De Scheerder</span>
                </h1>
                <p class="hero__role">Développeuse - Designer</p>
            </div>
            <div>
                <p class="hero__description">J’aime les belles interfaces, <br/> 
                    la typographie et la photographie.</p>
            </div>
        </div>
        <aside class="hero__aside">
            <!-- <SocialLinks /> -->
            <div class="hero__aside__section">
                <p class="hero__aside__sectionTitle">Contact</p>
                <p class="hero__aside__sectionContent">hey (at) palingenae.be</p>
            </div>
        </aside>
    </section>
    <Footer />
</MainLayout>

