---
const { label } = Astro.props;
const { icon } = Astro.props;
const { variant } = Astro.props;
---
<span class=`action -${variant}`>
    <span class="action__label">{ label }</span>
    <!-- <span aria-hidden="true" class=`action__icon icon -${icon}`></span> -->
</span>