---

---
<section class="contact">
    <h4 class="contactTitle">Me contacter</h4>
    <p class="contactMean">Via Mail :</p>
    <p class="contactMail">hey (at) palingenae.be</p>
    <div class="contactLinks">
        <div class="contactNetworks">
            <p class="contactMean">Via les réseaux :</p>
            <div class="contactNetworksList">
                <a class="link -ui" href="https://github.com/Palingenae">Github</a>
                <a class="link -ui" rel="me" href="https://octodon.social/@Palingenae">Mastodon</a>
                <a class="link -ui" href="https://bsky.app/profile/palingenae.bsky.social">BlueSky</a>
                <a class="link -ui" href="https://bento.me/palingenae">Bento</a>
            </div>
        </div>
        <div class="contactIssue">
            <p class="contactMean">Signaler un problème :</p>
            <p class="paragraph">Pour l'instant, vous pouvez le faire à travers un email.<br/> J'ouvrirai bientôt le dépôt Github.</p>
        </div>
    </div>
</section>