---
import Tag from "./tag.astro";
---
<footer class="footer">
    <div class="division">
        <span class="copyright">&copy; Palingenae { new Date().getFullYear() } &hyphen; Tous droits réservés</span>
    </div>
    <div class="division -column">
        <Tag variant="filledEmeraldLight" label="v0.3"/>
    </div>
</footer>