---
const { pageName } = Astro.props;
const { pageDescription } = Astro.props;
---
<header class="header">
    <h1>{pageName}</h1>
    <p class="paragraph -jumbo">{pageDescription}</p>
</header>