---
import MainLayout from "@layouts/main.astro";

const pageTitle = "Salut ! ";

const hero = {
	greetings: "Oui, salut ! Ici tu trouveras...",
	introduction: "Développement Web, Photographie & Design" ,
	description: "... et parfois tout ça en même temps !"
};

const availableForHire = true;
---
<MainLayout title={ pageTitle }>
	<section class="hero -pageCover -animated">
		<p class="hero__introduction">
			<!--{ hero.introduction }-->
			<span>Développement Web,</span> <span>Photographie,</span> <span>Design,</span> <br/>
			<span class="display -thin"><i>Roller Skate</i></span>.
		</p>
	</section>
</MainLayout>

