---
import MainLayout from '../layouts/main.astro';

const pageTitle = "Index ";

const hero = {
	greetings: "Oui, salut ! Ici tu trouveras...",
	introduction: "Développement Web, Photographie & Design" ,
	description: "... et parfois tout ça en même temps !"
};
---
<MainLayout>
	<section class="hero">
		<p class="hero__greeting">
			{ hero.greetings }
		</p>

		<p class="hero__introduction">
			{ hero.introduction }
		</p>

		<p class="hero__description">
			{ hero.description }
		</p>
	</section>
</MainLayout>

