---
import '@assets/styles/styles.scss';

import Navigation from "@components/navigation.astro";

const { title } = Astro.props.frontmatter || Astro.props;
---
<html lang="fr" data-theme="dark">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} ::  Olivia D. S. </title>
</head>
    <body>
        <Navigation />
        <slot />
    </body>
</html>